.clearfix:before, 
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Options Page */

.bsf-options-form-wrap{
    width: 100%;
}

.bsf-shortcodes-wrap{
    width: 60%;
}

.bsf-shortcode-container{
    padding: 8px;
}

.bsf-section table{
    min-height: 180px;
}

.bsf-section .form-table td{
    vertical-align: top;
}

.bsf-shortcode-container.wp-ui-text-highlight {
    background: #ebebeb;
    color: #333;
    border: 1px solid #e7e7e7;
    width: 100%;
}

.bsf-options-form-wrap .form-table th {
    width: 260px;
}
/* Category Order*/
.childrenlink{
    float: right;
    font-size: 12px;
}

.bsf-lineitem {
    background-color: #ddd;
    color: #000;
    margin-bottom: 5px;
    padding: .5em 1em;
    width: 200px;
    font-size: 13px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: move;
}

.bsf-lineitem h4{
    font-weight: bold;
    margin: 0;
}