.clearfix:before, 
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

/* Options Page */

.bsf-options-form-wrap{
    width: 100%;
}

.bsf-shortcodes-wrap{
    width: 60%;
}

.bsf-shortcode-container{
    padding: 8px;
}

.bsf-section table{
    min-height: 180px;
}

.bsf-section .form-table td{
    vertical-align: top;
}

.bsf-shortcode-container.wp-ui-text-highlight {
    background: #ebebeb;
    color: #333;
    border: 1px solid #e7e7e7;
    width: 100%;
}

.bsf-options-form-wrap .form-table th {
    width: 260px;
}
/* Category Order*/
ul#bsf-to-sortable {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
}

#bsf-to-sortable li:nth-child(2n+1) > .item {
        background-color: #fff !important;

}

#bsf-to-sortable li > .item {
    padding: 2px 0px;
    margin: 4px 0px;
    border: 1px solid #DDDDDD;
    cursor: move;
    -moz-border-radius: 6px;
    background-color: #f9f9f9;
}

#bsf-to-sortable li span {
    display: block;
    padding: 10px 10px;
    color: #555;
    font-size: 13px;
}
#order-terms ul.children {
    margin-left: 25px;
}