.clearfix:before, 
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Docs Fonts */

@font-face {
  font-family: 'docswp';
  src:  url('../fonts/docswp.eot?61dqmw');
  src:  url('../fonts/docswp.eot?61dqmw#iefix') format('embedded-opentype'),
    url('../fonts/docswp.ttf?61dqmw') format('truetype'),
    url('../fonts/docswp.woff?61dqmw') format('woff'),
    url('../fonts/docswp.svg?61dqmw#docswp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="docswp-"], [class*=" docswp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'docswp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.docswp-file-text2:before {
  content: "\e926";
}
.docswp-home:before {
  content: "\e901";
}
.docswp-search:before {
  content: "\e986";
}
.docswp-keyboard_arrow_right:before {
  content: "\e900";
}


#bsf-live-search {
    background: #f5f5f5;
    padding: 25px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.docs-single-templates-enabled .bsf-search-container,
.docs-tax-templates-enabled .bsf-search-container {
    max-width: 1040px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.docs-tax-templates-enabled,
.docs-single-templates-enabled,
.docs-tax-templates-enabled,
.docs-single-templates-enabled {
    background: #fff;
}

.docs-tax-templates-enabled .docs-wraper article {
    position: relative;
    border-bottom: none;
    padding: 0 0 0 35px !important;
    margin: 25px 0 !important;
}

.docs-tax-templates-enabled .docs-wraper article:before {
    content: "\e926";
    color: #333;
    font-family: 'docswp' !important;
    speak: none;
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Astra Compatability*/

.docs-single-templates-enabled .site-content > .ast-container,
.docs-tax-templates-enabled .site-content > .ast-container {
    max-width: 100%;
    padding: 0;
}

.docs-single-templates-enabled .site-header .ast-container,
.docs-tax-templates-enabled .site-header .ast-container {
    width: 1040px;
}

.docs-single-templates-enabled .site-content,
.docs-tax-templates-enabled .site-content {
    padding: 0;
}

.docs-tax-templates-enabled .docs-archive-wraper,
.docs-single-templates-enabled .docs-archive-wraper {
    display: block;
    max-width: 1040px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.docs-single-templates-enabled .wrap.docs-wraper,
.docs-tax-templates-enabled .wrap.docs-wraper {
    max-width: 1040px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}


#bsf-search-wrap {
    position: relative;
}

#bsf-live-search #bsf-searchform {
    width: 100%;
    display: block;
    background: #fff;
    border: 1px solid #d1d1d1;
    position: relative;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    border-radius: 99px;
}

#bsf-live-search #bsf-sq {
    float: left;
    width: 80%;
    background: none;
    color: #595959;
    font-size: 16px;
    padding: 20px 25px;
    border: none;
    box-shadow: none;
    position: relative;
    outline: 0;
}

#bsf-searchsubmit .docswp-search {
    padding-right: 3px;
}

#bsf_docs_widget-2 li {
    margin: 0 0 20px !important;
    padding: 0 0 0 25px;
    position: relative;
    list-style: none;
    line-height: 1.7em;
}

#bsf_docs_widget-2 li > a {
    color: #45454C;
}

#bsf_docs_widget-2 li > a:hover {
    color: #2e8ece;
}
.docs-single-templates-enabled #secondary #bsf_docs_widget-2,
.docs-tax-templates-enabled #secondary #bsf_docs_widget-2 {
    padding: 0;
    background: inherit;
}

.widget_bsf_docs_widget ul {
    margin: 0;
}

#bsf_docs_widget-2 li:before {
    content: "\e900";
    font-family: 'docswp' !important;
    speak: none;
    position: absolute;
    font-size: 20px;
    left: -3px;
}

#bsf-live-search #bsf-searchsubmit {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 148px;
    height: 45px;
    color: #fff;
    padding: 10px 18px;
    text-transform: uppercase;
    border: none;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    border-radius: 99px;
    transform: translateY(-50%);
    bottom: 0;
}

#bsf-search-result {
    position: absolute;
    background: #fff;
    list-style: none;
    font-size: 13px;
    top: 20px;
    left: 5px;
    margin: 0;
    padding: 10px 5px;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    z-index: 9999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 300px;
}

#bsf-search-result:before {
    border-color: transparent transparent #fff;
    z-index: 9999;
    border-style: solid;
    border-width: 12px;
    content: "";
    height: 0;
    left: 40px;
    position: absolute;
    top: -23px;
    width: 0;
}

#bsf-search-result a {
    display: block;
    color: #444;
    padding: 5px 10px;
    white-space: nowrap;
}

#bsf-search-result a:hover {
    text-decoration: none;
    background: #F5F5F5;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    border-radius: 99px;
}

.bsf-search-loader.spinner {
    display: none;
    float: right;
    position: absolute;
     top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 140px;
    width: 25px;
    height: 21px;
    margin: 0;
}

.bsf-search-loader.spinner img{
    vertical-align: top;
}

#bsf-live-search #bsf-sq.live-search-loading + .live-search-loading{
    display: inline-block;
}

/* Category list */

.bsf-categories-wrap .bsf-cat-col:nth-child(3n+1) {
    clear: left;
}

.bsf-categories-wrap .bsf-cat-col {
    margin: 0 !important;
    width: 33.33%;
    float: left;
    min-height: 1px;
    position: relative;
}

.bsf-categories-wrap .bsf-cat-col {
    padding-left: 0;
}

.bsf-categories-wrap a.bsf-cat-link {
    display: block;
    background: #fbfbfb;
    border: 1px solid #c6c6c6;
    padding: 30px 20px;
    color: #4d4d4d;
    margin: 20px;
    text-align: center;
    box-shadow: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkittransition: all 150ms linear;
    -moz-transition: all 150ms linear;
    transition: all 150ms linear;
    text-decoration: none;
}

.bsf-categories-wrap a.bsf-cat-link:hover {
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    transform: translateY(-1px);
}

.bsf-categories-wrap h4:first-child {
    color: #000;
    font-size: 17px;
    margin: 0 0 5px;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
}

.bsf-categories-wrap .bsf-cat-count{
    color: #808285;
    font-size: 13px;
    margin: 0;
}

.docs-title {
    margin: 30px 0 0px 20px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 30px;
}

.bsf-categories-wrap {
    margin: 30px 0;
}

.docs-tax-templates-enabled .docs-wraper .bsf-page-header {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 30px;
    padding: 0 0 30px;
    position: relative;
}

.bsf-page-header > h1 {
    color: #1a1a1a;
    margin: 0;
}

.docs-single-templates-enabled .docs-single-main,
.docs-tax-templates-enabled .bsf-main-wrap {
    position: relative;
    margin: 0;
 }
 .bsf-main-wrap article {
     border-bottom: none;
     margin: 0 !important;
 }
 .bsf-main-wrap article i {
     font-size: inherit;
     line-height: inherit;
     margin-right: 10px;
 }

h2.bsf-entry-title > a {
  color: #3a3a3a;
}

 h2.bsf-entry-title > a:hover {
    color: #2e8ece;
}

 .bsf-entry-title {
     display: inline-block;
     font-size: 16px;
     font-weight: 400;
     margin: 0;
 }
 .bsf-main-wrap .bsf-entry-title a {
     text-decoration: none;
 }
 .bsf-main-wrap .bsf-entry-title a:visited:hover {
     color: #2e8ece;
     text-decoration: none;
 }
 .bsf-main-wrap .bsf-entry-title a:visited {
     color: #45454C;
 }
 #bsf-searchsubmit .dashicons-search {
     padding: 5px 0;
     font-size: 18px;
     line-height: 19px;
     height: 18px;
     width: 18px;
 }


/* Widget CSS */

.widget_bsf_docs_widget > h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    padding: 0;
    line-height: 1.4em;
    margin-bottom: 15px;
}


.widget_bsf_docs_widget li {
    position: relative;
}

.docswp-keyboard_arrow_right {
    padding-right: 7px;
}
/* Layout Styles*/

.docs-single-templates-enabled #secondary.docs-sidebar-area,
.docs-tax-templates-enabled #secondary.docs-sidebar-area {
    border-left: 1px solid #e6e6e6;
    left: -1px;
    margin: 0;
    padding: 40px 0 40px 30px;
}

.docs-single-templates-enabled .docs-wraper #primary.content-area, 
.docs-tax-templates-enabled .docs-wraper #primary.content-area {
    margin: 45px 0 !important;
    padding-top: 0;
    padding-right: 30px;
}

.docs-single-templates-enabled #primary.bsf-options-form-wrap {
    padding: 40px 40px 50px 0;
}

.docs-single-templates-enabled .ast-container #primary.bsf-options-form-wrap {
    border-right: 1px solid #e6e6e6;
    margin-bottom: 0 !important;
}

.docs-tax-templates-enabled #primary, 
.docs-single-templates-enabled #primary, 
.docs-tax-templates-enabled #secondary
.docs-single-templates-enabled #secondary {
    display: block;
    position: relative;
    float: left;
}

@media (min-width: 769px) {
    .docs-tax-templates-enabled #primary,
    .docs-single-templates-enabled #primary {
      width: 70%;
    }

    .docs-tax-templates-enabled #secondary,
    .docs-single-templates-enabled #secondary {
      width: 30%;
    }
}
.docs-single-templates-enabled .docs-wraper .page-title {
    font-size: 28px;
    line-height: 1.4em;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 25px;
}

/* Breadcrumb style*/

.bsf-options-form-wrap .entry-header {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 30px;
    padding: 0;
}

.docs-single-templates-enabled .docs-single-title > h1 {
    font-size: 28px;
    line-height: 1.4em;
}

.docs-single-title > p {
    margin: 0;
}

.docs-single-title {
    padding-bottom: 30px;
}

@media (max-width: 768px ) {
    .bsf-categories-wrap .bsf-cat-col {
        float: none;
        width: 100%;
    }
}